<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <div class="user">
        <div class="nav">
            <a href="/read" >Read User</a>
        </div>
        <h1>Update User</h1>
        <form action="/update/<%= user._id %>" method="post">
            <input type="text" name="name" placeholder="Enter your Name" value="<%= user.name %>" >
            <input type="text" name="email" placeholder="Enter Your Email" value="<%= user.email %>">
            <input type="text" name="url" placeholder="Url Of the Image" value="<%= user.url %>">
            <input type="submit" value="Upadate User" class="update">
        </form>
    </div>
</body>
</html>